_minted-ctufit-thesis/
_minted/
*.aux
*.bbl*
*.bcf*
*.blg*
*.lof
*.log
*.lol
*.lot
*.loa
*.out
*.nav
*.snm
*.run.xml
*.synctex* 
*.toc
*.fls
*.fdb_latexmk
*.xdv
*.xmpdata
*.xmpi
*.data.minted
*.config.minted

.vscode
.DS_Store
*venv

/out