_minted-ctufit-thesis/
_minted/
text/*.aux
text/chapters/*.aux
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lol
*.lot
*.loa
*.out
*.nav
*.snm
*.run.xml
*.synctex* 
*.toc
*.fls
*.fdb_latexmk
*.xdv
*.xmpdata
*.xmpi
*.data.minted
*.config.minted
*.bbl-SAVE-ERROR
*.blg-SAVE-ERROR

.vscode
.DS_Store
*venv